
<div class="navbar" ng-show="AuthService.token">

    <ul role="navigation">

        <li class="navbar__link navbar__logo">
            <a href="#/"><img src="/images/logo-128x128.png" alt="SkillSync" /></a>
        </li>

        <li class="navbar__link navbar__link-selected">
            <a ng-click="goto('/')">
                <span class="navbar__link-txt">Dashboard</span>
            </a>
        </li>

        <li class="navbar__link navbar__link-selected">
            <a ng-click="goto('/resume')">
                <span class="navbar__link-txt">Resume</span>
            </a>
        </li>

        <li class="navbar__link">
            <a ng-click="goto('/account')">
                <span class="navbar__link-txt">Account</span>
            </a>
        </li>

    </ul>

</div>
