/**
 * Form Styling.
 * Hat tip to nrrrdcore's gist on styling inputs:
 *     https://gist.github.com/nrrrdcore/3309046
 *
 * https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
 */
$forms-border-radius: 3px; //0.20em;
$forms-transition: all 0.27s ease-in-out;
$forms-bg-out: #f0f3f0;
$forms-bg-out: #fcfffc;
$forms-bg-focus: #ffffff;

// -- Form Inputs
#{$all-text-inputs}, select {
    appearance: none;
    background: $forms-bg-out;
    border: 1px solid lighten($color-txt-light, 20%);
    border-radius: $forms-border-radius;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 1px 1px 0 #ffffff;
    color: $color-txt-light;
    display: block;
    font-size: modular-scale(1);
    margin: 0.75em 0;
    outline: none;
    padding: 0.35em 0.5em;
    transition: $forms-transition;
    width: 100%;
}

#{$all-text-inputs-hover} {
    background: $forms-bg-out;
    border: 1px solid $color-txt-light;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    color: $color-txt;
}

#{$all-text-inputs-focus} {
    background: $forms-bg-focus;
    border: 1px solid $color-green;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.27);
    color: $color-txt;
}

// Modified Peeky Placeholders by Luke Reid
// http://codepen.io/lukeandrewreid/pen/OVPGXN
.form {
    label {
        position: relative;
        display: block;

        input {
            padding-top: 24px;

            & + span {
                opacity: 1;
                top: 7px;
            }

            &:focus {
                & + span {
                    color: $color-txt;
                }
            }

            &.populated {
                color: $color-txt;
            }
        }

        span {
            color: $color-txt-light;
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            top: 0px;
            left: 0.75em;
            opacity: 0;
            transition: $forms-transition;
        }
    }
}


// -- Buttons
#{$all-buttons} {
    appearance: none;
    background-color: $color-green;
    border: 1px solid $color-green;
    border-radius: $forms-border-radius;
    color: $color-light;
    cursor: pointer;
    display: block;
    font-size: modular-scale(1);
    margin: 0.75em auto;
    padding: 0.5em 1.0em;
    outline: none;
    text-shadow: 1px 1px 0px darken($color-dark-green, 5%);
    transition: $forms-transition;
}

#{$all-buttons-focus},
#{$all-buttons-hover} {
    border: 1px solid $color-dark-green;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.27);
    color: #fff;
    text-shadow: 1px 1px 0px darken($color-dark-green, 10%);
}

textarea {
    resize: none;
}

.form__button-icon {
    fill: $color-light;
    height: modular-scale(1);
    width: modular-scale(1);
}

.form__errors {
    background: lighten($color-light-grey, 3%);
    border: 1px solid $color-contrast;
    border-radius: 0.25em;
    color: $color-contrast;
    margin: 1.0em 0;
    padding: 1.0em;
    text-align: left;

    li {
        margin-bottom: 0.5em;
    }
}
