
html, body {
    height: 100%;
    min-height: 100%;
}

body {
    //background: $color-dark-teal;
    background: #fff url('../images/handmadepaper2.png') top left repeat;
    font-family: $heading-stack;
}

a {
    color: $color-dark-teal;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: $color-teal;
    }
    &:active {
        color: $color-teal;
    }
}

p {
    margin: 0.75em 0;
}
