$modular-scale-ratio: $golden;
$modular-scale-base: 1em;
$lg-base: 1.25em;

$heading-stack: "Lato", "Arial", sans-serif;
$body-stack: "Merriweather", "Georgia", serif;

body, p {
    font-family: $body-stack;
    font-size: modular-scale(0);
    line-height: 1.33em;

    @include media($lg-mobile) {
        font-size: modular-scale(0);
    }
    @include media($tablet-portrait) {
        font-size: modular-scale(0);
    }
    @include media ($tablet-landscape) {
        font-size: modular-scale(0, $lg-base);
    }
    @include media ($desktop) {
        font-size: modular-scale(0, $lg-base);
    }
}

h1, h2, h3, h4, h5 {
  font-family: $heading-stack;
  font-weight: bold;
  line-height: 1.0em;
  margin-bottom: 0.25em;
  text-rendering: optimizeLegibility;
}

h1 {
    font-size: modular-scale(2);

    @include media($lg-mobile) {
        font-size: modular-scale(2);
    }
    @include media($tablet-portrait) {
        font-size: modular-scale(2);
    }
    @include media ($tablet-landscape) {
        font-size: modular-scale(2, $lg-base);
    }
    @include media ($desktop) {
        font-size: modular-scale(2, $lg-base);
    }
}

h2 {
    font-size: modular-scale(1);

    @include media($lg-mobile) {
        font-size: modular-scale(1);
    }
    @include media($tablet-portrait) {
        font-size: modular-scale(1);
    }
    @include media ($tablet-landscape) {
        font-size: modular-scale(1, 1.25em);
    }
    @include media ($desktop) {
        font-size: modular-scale(1, 1.25em);
    }
}

h3 {
    font-size: modular-scale(0);
    @include media($lg-mobile) {
        font-size: modular-scale(0);
    }
    @include media($tablet-portrait) {
        font-size: modular-scale(0);
    }
    @include media ($tablet-landscape) {
        font-size: modular-scale(0, $lg-base);
    }
    @include media ($desktop) {
        font-size: modular-scale(0, $lg-base);
    }
}
