
<div class="signin">

    <div class="signin__logo">
        <img src="/assets/images/logo-128-text.png" alt="SkillSync" />
    </div>

    <div class="signin__form">

        <h1>Sign in</h1>

        {{input type="email" placeholder="Email Address" value=email }}

        {{input type="password" placeholder="Password" value=password }}

        <div class="signin__form-buttons">
            <button {{action 'checkAuth'}}>Sign in</button>
        </div>

        {{#if errors}}
            <ul class="signin__form-errors">
                {{#each errors as |error|}}
                    <li>* {{error}}</li>
                {{/each}}
            </ul>
        {{/if}}

        <div class="siginin__form-links">
            <a href="/account/reset">Reset Password</a> |
            <a href="/account/register">Register</a>
        </div>
    </div>

</div>
