
<div class="signin">

    <div class="signin__logo">
        <img src="/assets/images/logo-128-text.png" alt="SkillSync" />
    </div>

    <div class="signin__form">

        <h1>Sign in</h1>

        <input type="email" placeholder="Email Address" required />

        <input type="password" placeholder="Password" required />

        <div class="signin__form-buttons">
            <input type="submit" value="Sign in" />
        </div>

        <div class="siginin_form-links">
            <a href="/account/reset">Reset Password</a> |
            <a href="/account/register">Register</a>
        </div>
    </div>

</div>
