
.account__avatar {
    text-align: center;

    img {
        border: 1px solid #fff;
        box-shadow: 0 0 0.25em $color-txt;
        margin: 1.0em;
        margin-top: 0;
    }

}

.account__avatar-disclaimer {
    font-style: italic;
}
