
.dashboard__stats-list {
    li {
        background: $color-light-green;
        border-radius: 0.5em;
        display: inline-block;
        margin: 0.5em;
        padding: 0.5em;

        .count {
            font-weight: bold;
            text-align: center;
        }
        .label {
            text-align: center;
        }
    }
}
