
.dashboard__stats-list {
    li {
        background: $color-light-green;
        border-radius: 0.5em;
        display: inline-block;
        margin: 0.5em;
        padding: 0.5em;

        .count {
            font-weight: bold;
            font-size: 3.0em;
            text-align: center;
        }
        .label {
            text-align: center;
            font-size: 0.8em;
        }
    }
}
