.page {
    margin: 1.5em;
    margin-top: 50px;
    padding: 1.0em;
    @include outer-container(100%);

    h1 {
        border-bottom: 1px solid darken($color-light-grey, 10%);
        text-align: left;
    }
}
