$resume-max-width: 1024px;

.resume__form {
    @include outer-container(100%);

    @include media ($tablet-landscape) {
        @include outer-container($resume-max-width);
    }
    @include media ($desktop) {
        @include outer-container($resume-max-width);
    }
}

.resume__field {
    @include row();
}

.resume__field-name {
    color: #999;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 1.0em;

    @include span-columns(12);

    @include media ($tablet-portrait) {
        text-align: right;
        @include span-columns(3);
    }
    @include media ($tablet-landscape) {
        text-align: right;
        @include span-columns(3);
    }
    @include media ($desktop) {
        text-align: right;
        @include span-columns(3);
    }
}

.resume__field-input {
    @include span-columns(12);

    @include media ($tablet-portrait) {
        @include span-columns(9);
    }
    @include media ($tablet-landscape) {
        @include span-columns(9);
    }
    @include media ($desktop) {
        @include span-columns(9);
    }

    input, select, textarea {
        margin-top: 0;
    }
}
