
.resume__nav {

    background: darken($color-light-grey, 3%);
    border-radius: 0.25em;
    margin-bottom: 1.5em;

    ul {
    }

    li {
        display: inline-block;
        padding: 0.5em 1.0em;
    }
}

.resume__form {

    legend {
        color: $color-dark-teal;
        font-size: 1.5em;
        font-weight: bold;
    }

    p {
        font-size: 0.9em;
    }
}

.resume__cols {
    @include outer-container(100%);

    .resume__col {
        @include span-columns(12);

        @include media ($tablet-landscape) {
            @include span-columns(6);
            @include omega(2n);
        }
        @include media ($desktop) {
            @include span-columns(6);
            @include omega(2n);
        }
    }
}

.resume__skills-btn {
    @include outer-container(100%);
}

.resume__skill {
    background: $color-light-grey;
    border: 1px solid $color-green;
    border-radius: 0.25em;
    margin: 0.25em 0;
    padding: 0.5em 1.0em;
}

.resume__skills-inputs {
    @include outer-container(100%);
}
.resume__skills-input {
    @include span-columns(12);

    @include media ($tablet-portrait) {
        @include span-columns(6);
        @include omega(2n);
    }
    @include media ($tablet-landscape) {
        @include span-columns(6);
        @include omega(2n);
    }
    @include media ($desktop) {
        @include span-columns(6);
        @include omega(2n);
    }
}
.resume__skills-btn {
    @include outer-container(100%);
}

.resume__skill-level-Beginner {
    background: $color-teal;
}
.resume__skill-level-Intermediate {
    background: mix($color-teal, #000, 85%);
}
.resume__skill-level-Expert {
    background: mix($color-teal, #000, 70%);
}
