<div class="page contentbox">

    <ss-resume-navbar></ss-resume-navbar>

    <div class="resume__cols">
        <div class="resume__col">
            <form class="resume__form peeky">

                <label>
                    <input type="text" placeholder="Company Name"
                        ng-model="input.companyName"
                        ng-class="{'populated': input.companyName.length > 0}" />
                    <span>Company Name</span>
                </label>

                <label>
                    <input type="text" placeholder="Company Website"
                        ng-model="input.companyUrl"
                        ng-class="{'populated': input.companyUrl.length > 0}" />
                    <span>Company Website</span>
                </label>

                <label>
                    <input type="text" placeholder="Start Date"
                        ng-model="input.companyStartDate"
                        ng-class="{'populated': input.companyStartDate.length > 0}" />
                    <span>Start Date</span>
                </label>

                <label>
                    <input type="text" placeholder="Present"
                        ng-model="input.companyEndDate"
                        ng-class="{'populated': input.companyEndDate.length > 0}" />
                    <span>End Date</span>
                </label>

                <label>
                    <textarea name="textarea"
                        placeholder="Description"
                        rows="5"></textarea>
                    <span>Description</span>
                </label>

                <div class="resume__skills-btn">
                    <button type="submit" ng-disabled="isSaving" ng-show2="hasChanges">
                        <span ng-show="isSaving">
                            <svg class="form__button-icon spinner">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-spinner2"></use>
                            </svg>
                        </span>
                        <span ng-hide="isSaving">Add Work</span>
                    </button>
                </div>
            </form>
        </div>

        <div class="resume__col">

            <div class="resume__skill resume__skill-level-{{ skill.level }}" ng-repeat="skill in skillsList">
                {{ skill.skill }}
            </div>

        </div>

    </div>

</div><!-- page -->
