
<div class="page contentbox">

    <ss-resume-navbar></ss-resume-navbar>

    <form class="resume__form">
        <div class="page__cols">

            <div class="page__col">
                <fieldset>
                    <legend>Summary</legend>
                    <p>
                        This is your chance to summarize your professional experience
                        and describe what kind of worker you are.
                    </p>
                    <textarea name="textarea"
                        ng-model="input.summary"
                        rows="10"
                        cols="50"></textarea>
                </fieldset>
            </div>

            <div class="page__col">

            </div>
        </div>

        <button type="submit" ng-disabled="isSaving" ng-click="saveChanges()">
            <span ng-show="isSaving">
                <svg class="form__button-icon spinner">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-spinner2"></use>
                </svg>
            </span>
            <span ng-hide="isSaving">Save Changes</span>
        </button>

        <ul class="contentbox__form-errors" ng-show="errors.length">
            <li ng-repeat="error in errors">* {{error}}</li>
        </ul>
    </form>

</div><!-- mainpage -->
