<div class="page contentbox">

    <div class="resume__sidebar">
        <ss-resume-navbar></ss-resume-navbar>
    </div>
    <div class="resume__content">

        <h1>Projects</h1>

        <div class="page__cols">
            <div class="page__col">
                <form class="resume__form form">

                    <label>
                        <input type="text" placeholder="Project Name"
                            ng-model="input.name"
                            ng-class="{'populated': input.name.length > 0}" />
                        <span>Project Name</span>
                    </label>

                    <label>
                        <input type="text" placeholder="Project Website"
                            ng-model="input.url"
                            ng-class="{'populated': input.url.length > 0}" />
                        <span>Project Website</span>
                    </label>

                    <label>
                        <input type="text" placeholder="Project Repository"
                            ng-model="input.repo"
                            ng-class="{'populated': input.repo.length > 0}" />
                        <span>Project Repository</span>
                    </label>

                    <label>
                        <input type="text" placeholder="Start Date"
                            ng-model="input.startDate"
                            ng-class="{'populated': input.startDate.length > 0}" />
                        <span>Start Date</span>
                    </label>

                    <label>
                        <input type="text" placeholder="End Date"
                            ng-model="input.endDate"
                            ng-class="{'populated': input.endDate.length > 0}" />
                        <span>End Date</span>
                    </label>

                    <label>
                        <textarea name="textarea"
                            ng-model="input.description"
                            placeholder="Description"
                            rows="5"></textarea>
                        <span>Description</span>
                    </label>

                    <div>
                        <button type="submit" ng-disabled="isSaving" ng-click="saveProject()">
                            <span ng-show="isSaving">
                                <svg class="form__button-icon spinner">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-spinner2"></use>
                                </svg>
                            </span>
                            <span ng-hide="isSaving">Add Project</span>
                        </button>
                    </div>

                    <ul class="contentbox__form-errors" ng-show="errors.length">
                        <li ng-repeat="error in errors">* {{error}}</li>
                    </ul>
                </form>
            </div>

            <div class="page__col">

                <div class="resume__skill resume__skill-level-{{ skill.level }}" ng-repeat="skill in ResumeService.resume.skills">
                    {{ skill.skill }}
                    <a class="resume__skill-remove-icon" ng-click="removeSkill(skill)">
                        <svg class="form__button-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cancel-circle"></use>
                        </svg>
                    </a>
                </div>

            </div>

        </div>

    </div>

</div><!-- page -->
