<div class="resumepage page app-page">

    <ss-resume-navbar></ss-resume-navbar>

    <form class="resume__form">
        <fieldset>
            <legend>Skills</legend>
            <p>
                Please pick the top 3 skills you want to use in your next
                job and your level of experience with each.
            </p>

            <div class="form__cols">
                <div class="form__col">
                    <input type="text"
                        placeholder="D3.js"
                        ng-model="input.skill"
                        ng-class="{'populated': input.skill}" />
                </div>
                <div class="form__col">
                    <input type="text"
                        placeholder="Expert"
                        ng-model="input.level"
                        ng-class="{'populated': input.level}" />
                </div>
            </div>


        </fieldset>

        <button type="submit" ng-disabled="isSaving" ng-show2="hasChanges">
            <span ng-show="isSaving">
                <svg class="form__button-icon spinner">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-spinner2"></use>
                </svg>
            </span>
            <span ng-hide="isSaving">Save Changes</span>
        </button>

    </form>

</div><!-- mainpage -->
