<div class="resumepage page app-page">

    <ss-resume-navbar></ss-resume-navbar>

    <p>
        Enter in the top 3 skills you want to use in your next job and your
        current level with each.
    </p>

    <div class="resume__skill" ng-repeat="skill in skillsList">
        {{ skill.skill }} - {{ skill.level }}
    </div>

    <div class="resume__skills-inputs">
        <div class="resume__skills-input">
            <input type="text"
                placeholder="D3.js"
                ng-model="input.skill"
                ng-class="{'populated': input.skill}" />
        </div>
        <div class="resume__skills-input">
            <select ng-model="input.level">
                <option value="" disabled>Level</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Expert">Expert</option>
            </select>
        </div>
    </div>
    <div class="resume__skills-btn">
        <button type="submit" ng-disabled="isSaving" ng-show2="hasChanges">
            <span ng-show="isSaving">
                <svg class="form__button-icon spinner">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-spinner2"></use>
                </svg>
            </span>
            <span ng-hide="isSaving">Add Skill</span>
        </button>
    </div>

</div><!-- mainpage -->
