<div class="page contentbox">

    <h1>{{ AuthService.account.name }}</h1>

    <div class="page__cols">

        <div class="page__col">
            <div class="account__avatar">
                <img src="{{ gravatar }}" />
            </div>

            <p class="account__avatar-disclaimer">
                Avatars are supplied by
                <a href="http://www.gravatar.com" target="_blank">Gravatar</a>
                and are based off of your entered email address. If you'd like
                to change it, please
                <a href="http://www.gravatar.com" target="_blank">create a gravatar account</a>.
            </p>

            <p>
                Account created: {{ AuthService.account.created | date:'medium' }}.
            </p>
            <p>
                Last updated: {{ AuthService.account.updated | date:'medium' }}.
            </p>

            <div class="contentbox__form-buttons">
                <button ng-click="AuthService.signOut()">
                    <span>Sign Out</span>
                </button>
            </div>
        </div>

        <div class="page__col">
            <form class="peeky" ng-submit="registerAccount()">

                <label>
                    <input type="text" placeholder="{{ AuthService.account.name }}"
                        ng-model="input.name"
                        ng-class="{'populated': input.name.length > 0}" />
                    <span>Name</span>
                </label>

                <label>
                    <input type="email" placeholder="{{ AuthService.account.email }}"
                        ng-model="input.email"
                        ng-blur="checkEmailInput()"
                        ng-class="{'populated': input.email.length > 0}" />
                    <span>Email Address</span>
                </label>

                <label>
                    <input type="text" placeholder="{{ AuthService.account.location || 'Location' }}"
                        ng-model="input.location"
                        ng-class="{'populated': input.location.length > 0}" />
                    <span>Location</span>
                </label>

                <label>
                    <input type="checkbox"
                        ng-model="input.remote"
                    />
                    Open to Remote Positions
                </label>

                <label>
                    <select ng-model="input.salary">
                        <option value="" disabled>Desired Salary Range</option>
                        <option ng-repeat="salary in SalaryRanges">
                            {{ salary }}
                        </option>
                    </select>
                </label>

                <div class="contentbox__form-buttons">
                    <button type="submit" ng-disabled="isSaving" ng-click="updateAccount()">
                        <span ng-show="isSaving">
                            <svg class="form__button-icon spinner">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-spinner2"></use>
                            </svg>
                        </span>
                        <span ng-hide="isSaving">Update Account</span>
                    </button>
                </div>

                <ul class="contentbox__form-errors" ng-show="errors.length">
                    <li ng-repeat="error in errors">* {{error}}</li>
                </ul>
            </form>
        </div>

    </div>

</div><!-- page -->
