<div class="unauth">

    <div class="unauth__logo">
        <img src="/images/logo-128-text.png" alt="SkillSync" />
    </div>

    <div class="contentbox">

        <h1>Sign in</h1>

        <form ng-submit="checkAuth()">
            <input type="email" placeholder="Email Address" ng-model="input.email" />
            <input type="password" placeholder="Password" ng-model="input.password" />
            <div class="contentbox__form-buttons">
                <input type="submit" value="Sign in" />
            </div>
        </form>

        <ul class="contentbox__form-errors" ng-show="errors.length">
            <li ng-repeat="error in errors">* {{error}}</li>
        </ul>

        <div class="contentbox__form-links">
            <a ng-href="#/account/reset">Reset Password</a> |
            <a ng-href="#/account/register">Register</a>
        </div>
    </div>

</div>
