.navbar {
    box-shadow: 0 0 1.0em #333;
    color: $color-txt;
    font-size: 90%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    @include linear-gradient(to bottom, lighten($color-light-grey, 15%), darken($color-light-grey, 0%));
    //@include linear-gradient(to bottom, $color-green, darken($color-green, 10%));
}

$navbar-link-radius: 0.25em;
.navbar__link {
    display: inline-block;
    margin: 0.25em 0;
    padding: 0.25em 1.0em;
    text-align: center;
}
.navbar__link-selected {
}

.navbar__link-icon {
    fill: $color-txt;
    height: 24px;
    width: 24px;
}
.navbar__link-txt {

}

.navbar__logo {
    display: inline-block;
    padding: 0.25em;
    padding-left: 1.0em;

    img {
        height: 32px;
        margin-bottom: -5px;
    }
}
