<!-- Sidebar for Large Screens -->
<div class="resume__nav-side">
    <ul>
        <li><a ng-click="goto('/resume')">Resume</a></li>
        <li><a ng-click="goto('/resume/category')">Job Category</a></li>
        <li><a ng-click="goto('/resume/summary')">Summary</a></li>
        <li><a ng-click="goto('/resume/skills')">Skills</a></li>
        <li><a ng-click="goto('/resume/projects')">Projects</a></li>
        <li><a ng-click="goto('/resume/work')">Work History</a></li>
        <li><a ng-click="goto('/resume/education')">Education &amp; Certifications</a></li>
    </ul>
    <div class="resume__nav-activity" ng-show="ResumeService.isLoading">
        <svg class="spinner">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-spinner2"></use>
        </svg>
    </div>
</div>

<!-- Dropdown for Mobile Users -->
<div class="resume__nav-drop">
    <select ng-change="select()" ng-model="input.selection">
        <option value='/resume'>Resume</option>
        <option value='/resume/category'>Job Category</option>
        <option value='/resume/summary'>Summary</option>
        <option value='/resume/skills'>Skills</option>
        <option value='/resume/projects'>Projects</option>
        <option value='/resume/work'>Work History</option>
        <option value='/resume/education'>Education &amp; Certifications</option>
    </select>
</div>
