
<h1>SkillSync Index</h1>

<p>
    If user is logged in, redirect to their dashboard.
</p>


<p>
    If user is not logged in, redirect to the signin page.
</p>
<p>
    {{#link-to "account.signin"}} Sign In {{/link-to}}
</p>
